$white: #fff;

$cool-grey-0: #1F2933;
$cool-grey-1: #323F4B;
$cool-grey-2: #3E4C59;
$cool-grey-3: #52606D;
$cool-grey-4: #616E7C;
$cool-grey-5: #7B8794;
$cool-grey-6: #9AA5B1;
$cool-grey-7: #CBD2D9;
$cool-grey-8: #E4E7EB;
$cool-grey-9: #F5F7FA;
